.after {
    position: relative;
    // &::after {
    //     content: "";
    //     position: absolute;
    //     width: 20vw;
    //     height: 80vh;
    //     left: 0;
    //     top: 10%;
    //     // background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
    //     filter: blur(70px);
    //     border-radius: 233.5px;
    //     transform: rotate(-54.37deg);
    //     background: linear-gradient(45deg, #002750, transparent);
    //     // @media screen and (max-width: 766px) {
    //     //     background: transparent;
    //     // }
    // }
    // background-image: url('../img/abstract.png');
    background-image: url('../img/polygon.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    // opacity: .2;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to top, $darkblue, rgba($darkblue, .86), $darkblue);
        // z-inde;
    }

    .bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        opacity: .07;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, $darkblue, transparent, $darkblue);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    //gsap
    .box {
        position: relative;
        width: 100%;
        min-height: 100vh;
        padding: 100px;

        @media screen and (max-width: 766px) {
            padding: 62px 16px;
        }

        .cardo {

            // width: 420px;
            @media screen and (max-width: 766px) {
                width: 100%;
            }

            .title {
                // font-family: 'Aeonik Regular';
                font-size: 2rem;
                font-weight: 700;
                margin-bottom: 8px;
            }

            .content {
                color: #fafafa;

                p {
                    font-size: 1.2rem;
                }
            }
        }
    }

    .box h2 {
        font-size: 2.5rem;
    }

    .box img {
        max-width: 300px;
    }

    .box2 {
        position: relative;
        width: 100%;
        min-height: 100vh;
        // padding: 100px;
        z-index: 32px;
        padding: 24px;
        background: rgba($color: white, $alpha: .01);

        @media screen and (max-width: 766px) {
            padding: 32px 16px;
        }

        .cardo {
            width: 100%;
            margin-bottom: 36px;
            position: relative;

            @media screen and (max-width: 766px) {
                margin-bottom: 32px;
            }

            .img {
                position: absolute;
                right: -36px;
                top: -36px;
                width: 120px;
                height: 120px;

                @media screen and (max-width: 766px) {
                    right: -16px;
                    width: 90px;
                    height: 90px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }

            .title {
                font-family: 'Montserrat', sans-serif;
                font-size: 2rem;
                font-weight: 700;
                position: absolute;
                left: -20px;
                // border: 2px solid white;
                top: -20px;
                background: rgba(#094d94, 1);
                // font-weight: 700;
                margin-bottom: 0px;
                color: $yellow;
                // color: white;
                border-radius: 50%;
                width: 50px;
                height: 50px;
                text-align: center;
            }

            .content {
                background: rgba(#094d94, 1);
                border-radius: 16px;
                padding: 16px 100px 16px 32px;
                color: #fff;

                // border: 2px solid white;
                @media screen and (max-width: 766px) {
                    padding: 16px 72px 16px 32px
                }

                p {
                    font-size: 1.1rem;
                    margin-bottom: 0;

                    @media screen and (max-width: 766px) {
                        font-size: .85rem;
                    }
                }
            }
        }
    }

    .box2 h2 {
        font-size: 2.5rem;
        color: #fff;
    }
}