.banner {
    width: 100vw;
    // background: $mandiri;
    // overflow-x: hidden;
    // background: $one;
    background: white;
    height: 100%;
    padding: 0;
    z-index: 9;
    position: relative;

    #animations-example-4 {
        height: 200px;
        max-width: 300px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 9;
    }

    #animations-example-4 tbody td {
        transform-origin: bottom;
        animation: revealing-bars 4s linear infinite;
    }

    @keyframes revealing-bars {
        0% {
            transform: scaleY(0);
        }

        15% {
            transform: scaleY(1);
        }
    }

    &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 120px;
        background: linear-gradient(to top, #f8f8f8, transparent);
    }

    .ilus {
        // content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .img {
        width: 50vw;
        height: auto;
        z-index: 21;
        position: absolute;
        right: 0;
        bottom: 0;

        @media screen and (max-width: 766px) {
            width: 100%;
            bottom: 90px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .bola {
        position: absolute;
        z-index: 1;

        &-pink {
            right: -44px;
            top: 30vh;
            width: 150px;
            border-radius: 50%;
            height: 150px;
            // background: #f7e3e8;
            background: #ffeeafbd;
        }

        &-hijau {
            left: -32px;
            top: 52px;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background: #dcf8f4;
        }
    }

    &__test {
        position: absolute;
        right: 10vw;
        bottom: 10vh;
        width: 550px;
        z-index: 10;
        height: auto;

        @keyframes MoveUpDown {

            0%,
            100% {
                right: 0px;
            }

            50% {
                right: 16px;
            }
        }

        .bu {
            position: absolute;
            // animation: MoveUpDown 1s linear infinite;
            // inset: 0;
            // right: 0px;
            // left: 0;
            bottom: 5vh;
            width: 100%;
            height: 420px;

            &.animation-one {
                animation: MoveUpDown 1.5s linear infinite;
                right: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        @media screen and (max-width: 766px) {
            width: 90vw;
            top: initial;
            bottom: 10vh;
            right: initial;
            left: 8px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        position: absolute !important;
        left: 5vw;
        z-index: 6;
        top: 15vh;

        @media screen and (max-width: 766px) {
            // top: initial;
            // bottom: 30vh;
            // border: 1px solid;
            text-align: center;
            left: 50%;
            width: 100%;
            transform: translate(-50%, 0%);
        }

        h2 {
            color: white;
            // font-family: 'Kanit';
            // font-family: 'Aeonik Medium', sans-serif;
            font-family: 'Montserrat', sans-serif;
            text-shadow: 2px 2px black;
            line-height: 7rem;
            font-weight: 700;

            // font-size: 7rem;
            @media screen and (max-width: 766px) {
                line-height: 3rem;
            }

            // font-size: 3.5rem;
            &.first {
                font-size: 3.7rem;
                color: #0a3b6a;
                line-height: 4rem;
                text-shadow: 2px 2px #ccc;

                @media screen and (max-width: 766px) {
                    font-size: 2.3rem;
                    line-height: 2.5rem;
                    margin-bottom: 0;
                }
            }

            &.second {
                font-size: 6rem;
                // color: #30abfc;
                color: $yellow;
                line-height: 6.5rem;

                @media screen and (max-width: 766px) {
                    font-size: 3.8rem;
                    line-height: 4rem;
                    margin-bottom: 0;
                }
            }

            &.third {
                font-size: 10.5rem;
                color: #f7bb2e;
                line-height: 8rem;
                letter-spacing: 2rem;

                // color: white;
                @media screen and (max-width: 766px) {
                    font-size: 3.8rem;
                    line-height: 3.9rem;
                    margin-bottom: 0;
                    letter-spacing: normal;
                }
            }
        }
    }

    &__img {
        width: 100%;
        opacity: 1;
        height: 100%;
        position: absolute;
        inset: 0;

        @media screen and (max-width:766px) {
            opacity: .7;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, $one, rgba($one, .7));

            @media screen and (max-width: 766px) {
                background: linear-gradient(to top, rgba($one, 1), rgba($one, .5));
            }
        }

        @media screen and (max-width:766px) {
            height: 100vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}