.banner {
    width: 100vw;
    height: 100%;
    padding: 0;
    z-index: 9;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 20vh;
        background: linear-gradient(to top, #002750, transparent);
    }

    &__title {
        position: absolute;
        left: 5vw;
        top: 15vh;

        @media screen and (max-width:766px) {
            top: initial;
            bottom: 15vh;
        }

        h2 {
            color: white;
            // font-family: 'Kanit';
            font-family: 'Oxanium';
            text-shadow: 2px 2px black;
            line-height: 5rem;
            font-weight: 700;

            @media screen and (max-width:766px) {
                line-height: 3rem;
            }

            // font-size: 3.5rem;
            &.first {
                font-size: 4.5rem;
                // color: #30abfc;
                color: white;

                @media screen and (max-width:766px) {
                    font-size: 3rem;
                }
            }

            &.second {
                font-size: 5rem;
                // color: #30abfc;
                color: white;

                @media screen and (max-width:766px) {
                    font-size: 3rem;
                }
            }

            &.third {
                font-size: 5.2rem;
                color: #f7bb2e;

                @media screen and (max-width:766px) {
                    font-size: 3rem;
                }
            }
        }
    }

    &__img {
        width: 100%;
        height: 100%;

        @media screen and (max-width:766px) {
            height: 100vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }
}