.datax {
    background: $darkblue;
    position: relative;
    font-family: 'Red Hat Display', sans-serif;
    color: white;
    &.bg-pol {
        background-attachment: fixed;
        background-image: url('../img/garis.png');
        background-position: center;
        background-size: cover;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba($color: $darkblue, $alpha: .9);
        }
    }
    // overflow-x: auto;
    .help-left {
        // content: "";
        position: absolute;
        left: -32px;
        border: 2px dashed #bbb;
        bottom: -56px;
        width: 100%;
        height: 75%;
        // background: yellow;
        &::before {
            content: "\f0da";
            font-family: 'FontAwesome';
            position: absolute;
            left: 22px;
            bottom: -19px;
            font-size: 24px;
            color: #bbb;
        }
        &::after {
            content: "";
            width: 83%;
            position: absolute;
            right: -2px;
            background: $darkblue;
            top: 0;
            bottom: 0;
        }
    }
    .help-right {
        // content: "";
        position: absolute;
        right: -32px;
        border: 2px dashed #bbb;
        bottom: -56px;
        width: 100%;
        height: 100%;
        // background: yellow;
        &::before {
            content: "\f0d9";
            font-family: 'FontAwesome';
            position: absolute;
            right: 24px;
            bottom: -18px;
            font-size: 24px;
            color: #bbb;
        }
        &::after {
            content: "";
            width: 83%;
            position: absolute;
            left: -2px;
            background: $darkblue;
            top: 0;
            bottom: 0;
        }
    }
    .cardx {
        // box-shadow: 0 0 0.5rem #fff, 
        border: 2px solid;
        // height: 100vh;
        color: #fff;
        display: inline-block;
        padding: 16px;
        border-radius: 8px;
        margin-bottom: 16px;
        position: relative;
        background: $darkblue;
        z-index: 8;
        @media screen and (max-width: 766px) {
            margin-bottom: 24px;
            padding: 12px;
        }
    }
    .coding {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: .07;
        @media screen and (max-width: 766px) {
            position: absolute;
            width: 100%;
            top: 5vh;
            height: 100%;
            opacity: .1;
            right: 0;
            left: 0;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, $darkblue, transparent, $darkblue);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .image {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
        opacity: .2;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.icon {
    position: absolute;
    @media screen and (max-width: 766px) {
        width: 10vw !important;
        // height: 30px;
    }
    &-left {
        // position: absolute;
        left: 10vw;
        // transform: rotate(-180deg);
        top: 0px;
        width: auto;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &-right {
        right: 10vw;
        // transform: rotate(-180deg);
        top: 0px;
        width: auto;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.from {
    .lala {
        margin-top: 32px;
        line-height: 1rem;
        font-weight: 700;
        font-family: 'Red Hat Display';
    }
    .gelar {
        font-family: 'Red Hat Display';
        color: $yellow;
        font-weight: 700;
        @media screen and (max-width: 766px) {
            font-size: 1rem;
        }
    }
}