.data-table {
    position: relative;
    .laba {
        background: $two;
        padding: 8px;
        margin-bottom: 16px;
        border-radius: 16px;
        box-shadow: 1px 2px 3px #bbb;
        h3 {
            text-align: center;
            color: $mandiri;
        }
        p {
            font-size: .75rem;
            text-align: center;
            margin-bottom: 0;
        }
        .font-big {
            text-align: center;
            font-size: 1.85rem;
            font-weight: 700;
            color: $mandiri;
        }
        .all {
            text-align: center;
            font-size: 1.5rem;
            span {
                margin-left: 8px;
                font-weight: bold;
                color: green;
            }
            i {
                color: green;
            }
        }
    }
    .to-center {
        text-align: center;
        h3 {
            font-size: 1.6rem;
        }
        p {
            font-size: 1.8rem;
            font-weight: 700;
            color: $darkblue;
            display: inline;
            @media screen and(max-width: 766px) {
                display: block;
            }
        }
        .fawe {
            color: green;
            display: inline;
            font-size: 1.8rem;
            font-weight: 700;
            margin-left: 8px;
            @media screen and(max-width: 766px) {
                display: block;
            }
        }
        border-bottom: 1px dashed;
        padding: 4px 0;
    }
    .rightc {
        position: absolute;
        border: 2px dashed $mandiri;
        z-index: 2;
        right: -32px;
        bottom: -100px;
        width: 140px;
        height: 200px;
        &::before {
            content: "";
            position: absolute;
            width: 138px;
            /* background: rebeccapurple; */
            bottom: 0px;
            height: 196px;
            right: 0px;
            border: 2px solid #fff;
        }
    }
    .leftc {
        position: absolute;
        border: 2px dashed #002750;
        z-index: 2;
        left: -32px;
        bottom: -100px;
        width: 236px;
        height: 200px;
        &::before {
            content: "";
            position: absolute;
            width: 234px;
            bottom: 0px;
            height: 196px;
            /* background: tan; */
            left: 0px;
            border: 2px solid #fff;
        }
    }
    .all-high {
        // border: 1px solid $mandirkmopo-i;
        padding: 0 8px;
         background: $one;
        margin-bottom: 16px;
        // box-shadow: 1px 2px 4px #ccc;
        border-radius: 8px;
        position: relative;
        ul {
            padding: 0 16px;
            margin: 0;
        }
        .datas {
            display: block;
            &-left {
                display: inline-block;
                width: 40%;
                vertical-align: middle;
                @media screen and (max-width: 766px) {
                    width: 100%;
                    display: block;
                }
            }
            &-right {
                display: inline-block;
                vertical-align: middle;
                font-size: 1rem;
                width: 55%;
                @media screen and (max-width: 766px) {
                    width: 100%;
                    display: block;
                    font-size: .85rem;
                }
            }
        }
        .titled {
            width: auto;
            font-weight: 700;
            text-align: center;
            font-size: 2rem;
            color: $mandiri;
            @media screen and (max-width: 766px) {
                font-size: 1.3rem;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    .bgbg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: .1;
        z-index: 2;
        @media screen and (max-width: 766px) {
            opacity: .08;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .closer {
        margin: 24px auto 0;
        text-align: center;
        background: $mandiri;
        width: fit-content;
        padding: 4px 16px;
        position: relative;
        z-index: 65;
        border-radius: 16px;
        color: $yellow;
        font-weight: bold;
        cursor: pointer;
        font-size: 1rem;
        &:hover {
            color: white;
        }
    }
    .wrappers {
        width: 100%;
        height: auto;
        .cek1 {
            width: 40%;
            display: inline-block;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
    &.airline-content {
        display: none;
    }
    .open {
        display: block;
        animation: showup 0.8s ease-in-out;
    }
    @keyframes showup {
        0% {
            opacity: 0;
        }
        30% {
            opacity: 0.1;
        }
        50% {
            opacity: 0.2;
        }
        70% {
            opacity: 0.6;
        }
        100% {
            opacity: 1;
        }
    }
    .kotak {
        position: absolute;
        // inset: 0;
        right: 0;
        top: 0;
        // display: none;
        width: 30vw;
        height: auto;
        opacity: .5;
        z-index: 2;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, #f8f8f8, transparent);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    h4 {
        margin-bottom: 0;
        font-weight: bold;
        color: #494949;
        font-size: 1.2rem;
        width: fit-content;
        padding: 4px;
        /* margin: 0 auto; */
        // /* border-bottom: 2px solid;
    }
    // overflow: scroll;
    .kotaksa {
        .img {
            width: 100%;
            @media screen and (max-width: 766px) {
                width: 100%;
            }
            img {
                width: 100%;
                height: auto;
                object-fit: contain;
                @media screen and (max-width: 766px) {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
    }
    .kotaks {
        width: 100%;
        .img {
            width: 100%;
            margin: 32px auto;
            height: auto;
            @media screen and (max-width: 766px) {
                width: 200%;
            }
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        @media screen and (max-width:766px) {
            overflow-x: scroll;
        }
    }
    table {
        backdrop-filter: blur(3px);
        // background: rgba($yellow, .1);
        strong {
            color: $mandiri;
        }
    }
    thead {
        tr {
            td {
                font-size: 1rem;
                // background: $one;
                font-weight: bold;
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    text-align: right;
                }
            }
        }
    }
    tbody.cek {
        tr {
            td {
                &:nth-child(2) {
                    font-size: 1rem;
                }
                &:nth-child(3),
                &:nth-child(4),
                &:nth-child(5) {
                    text-align: right;
                }
            }
        }
    }
    tbody,
    thead {
        td {
            padding: .5rem;
            font-size: .85rem;
            &:first-child {
                text-align: left;
            }
        }
    }
    .rightxs {
        text-align: right;
        td {
            &:first-child {
                text-align: left;
                @media screen and (max-width: 766px) {
                    text-align: left;
                    // background: red;
                    width: 240px;
                    display: block;
                }
            }
        }
    }
}

.h3 {
    // color: #14477b;
    font-weight: bold;
    // background: #fedc8c;
    width: fit-content;
    margin: 0 auto;
    color: $mandiri;
    padding: 8px;
    font-size: 1.5rem;
    border-radius: 8px;
    @media screen and (max-width: 766px) {
        // color: #14477b;
        // font-weight: 400;
        // background: #f7bb2e;
        width: fit-content;
        padding: 8px;
        font-size: 1.4rem;
        border-radius: 8px;
    }
}