.data {
    position: relative;
    z-index: 4;
    // font-family: 'Oxanium';

    &__title {
        h3 {
            font-size: 3.5rem;
            color: white;
            font-family: 'Oxanium';
            font-weight: 700;
        }
    }

    h4 {
        font-size: 1.7rem;
        font-weight: 700;
    }

    &.kopra {
        background: #002750;
        color: #ccc;

        h3 {
            font-family: 'Kanit';
            text-shadow: 1px 1px #f7bb2e;
        }
    }

    &.livins {
        background: #002750;
        color: white;

        h3 {
            color: #f7bb2e;
            font-family: 'Kanit';
        }

        .image {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .faq {
        position: relative;
        margin: 16px 0;
        padding: 0;

        i {
            float: right;
            color: white;
        }

        li {
            list-style-type: none;
            cursor: pointer;
            padding: 12px 16px;
            font-size: 1.4rem;
            margin-bottom: 8px;
            border-radius: 16px;
            // font-size: 14px;
            color: #f7bb2e;
            background: rgba($color: #244179, $alpha: .4);
            border-bottom: 1px solid rgba(white, .5);

            &:hover,
            &:focus,
            &:active {
                background: rgba($color: #244179, $alpha: .8);
                transition: .3s;
            }
        }

        .rotate {
            transform: rotate(-180deg);
            transition: .3s;
        }

        .answer {
            // background-color: ;
            padding: 16px;
            color: #ccc;
            font-size: 1rem;
            background: transparent;
            // background: rgba($color: #244179, $alpha: .2);
            border-bottom: 1px solid transparent;

            &:hover,
            &:focus,
            &:active {
                background: rgba($color: #244179, $alpha: 0);
                transition: .3s;
            }

            ul {
                background: transparent;
                // background: rgba($color: #244179, $alpha: .2);
                padding: 0;
                margin: 0;
                list-style-type: disc;
            }

            li {
                color: #ccc;
                background: transparent;
                font-size: 1rem;
                list-style: disc;
                padding: 4px 6px;
                border-bottom: 1px solid transparent;
            }
        }
    }
}