.data {
    position: relative;
    z-index: 4;
    // font-family: 'Oxanium';
    background: #002750;

    &__title {
        h3 {
            font-size: 3.5rem;
            color: white;
            font-family: 'Kanit';
            font-weight: 700;

            @media screen and (max-width:766px) {
                font-size: 2.3rem;
            }
        }
    }

    h4 {
        font-size: 1.7rem;
        font-weight: 700;
    }

    &.perseroan {
        position: relative;

        blockquote {
            font-family: 'Nunito Sans';
            font-size: 1.6rem;
        }

        .data__title {
            h3 {
                color: #dbc851;
                text-align: center;
            }
        }

        .imager {
            &::before {
                position: absolute;
                content: "";
                inset: 0;

                background: linear-gradient(to bottom, #002750, rgba(#002750, .6), #002750);
            }

            position: absolute;
            inset: 0;
            width: 100%;
            height: 100vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        p {
            color: white;
        }
    }

    &.fee {
        position: relative;
        z-index: 1;
        color: white;

        .image {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;

            // &::before {
            //     position: absolute;
            //     content: "";
            //     inset: 0;
            //     background: linear-gradient(to top, #002750, transparent);
            // }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &::after {
                content: "";
                inset: 0;
                z-index: 3;
                position: absolute;
                background: linear-gradient(to bottom, #002750, transparent, #002750);
            }

            &::before {
                content: "";
                inset: 0;
                position: absolute;
                background: rgba($color: #002750, $alpha: .8);
            }
        }

        p {
            color: white;
        }

        .data__title {
            h3 {
                color: #dbc851;
            }
        }
    }

    &.dpk {
        position: relative;
        z-index: 8;

        .balok {
            display: block;
            margin-top: 3rem;
            // background: rgba($color: white, $alpha: .2);
            padding: 24px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                inset: 0;
                width: 60%;
                margin: 0 auto;
                z-index: 1;
                background: rgba(255, 255, 255, .3);

                @media screen and (max-width:766px) {
                    background: rgba(255, 255, 255, .2);
                    width: 75%;
                }
            }

            .isi {
                display: block;
                z-index: 9;
                padding: 16px;
                position: relative;
                // position: absolute;
                background: rgba($color: #124377, $alpha: .8);
                width: 75%;
                margin: 0 auto 24px;

                @media screen and (max-width:766px) {
                    width: 100%;
                }

                // margin: 24px;

                &__img,
                &__isi {
                    display: inline-block;
                }

                &__isi {
                    color: white;

                    width: 65%;
                    vertical-align: top;

                    @media screen and (max-width:766px) {
                        width: 100%;
                    }
                }

                &__img {
                    width: 160px;
                    height: 160px;

                    @media screen and (max-width:766px) {
                        margin: 0 auto;
                        text-align: center;
                        display: block;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                }
            }
        }

        @keyframes MoveUpDown {

            0%,
            100% {
                opacity: 0.3;
            }

            50% {
                opacity: 1;
            }
        }

        .image {
            position: absolute;
            inset: 0;
            opacity: 0.3;
            animation: MoveUpDown 4s linear infinite;
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .data__title {
            // background: linear-gradient(to right, #6c6cc4, #4fa0e9);
            width: fit-content;
            // padding: 4px 16px;
            position: relative;
            margin: 0 auto;
            text-align: center;

            &::before {
                content: "";
                position: absolute;
                bottom: -8px;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 20vw;
                height: 4px;
                background: #ccc;
            }
        }

        h3 {
            // background: -webkit-linear-gradient(#6c6cc4, #4fa0e9);
            // -webkit-background-clip: text;
            // // text-shadow: 2px 2px white;
            // -webkit-text-fill-color: transparent;
            color: #dbc851;
            // position: relative;
        }
    }

    &.kopra {
        background: #002750;
        color: #ccc;

        .d-block {
            margin: 8px 0;
        }

        .icons {
            width: auto;
            height: 132px;
            display: inline-block;
            vertical-align: middle;

            // &.icons3 {
            //     width: auto;
            //     height: 100px;
            // }
            &.icons5 {
                @media screen and (max-width:766px) {
                    height: 100px;
                }
            }

            &.icons4 {
                width: auto;
                height: 130px;

                @media screen and (max-width:766px) {
                    height: 90px;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .text {
            display: inline-block;
            width: 60%;
            vertical-align: middle;

            @media screen and (max-width:766px) {
                width: 50%;
            }

            p {
                font-family: 'Nunito Sans';
                font-weight: 700;
                color: #dbc851;
            }

            &.text4 {
                width: 33%;

                @media screen and (max-width:766px) {
                    width: 33%;
                }
            }

            &.text5 {
                width: 45%;

                @media screen and (max-width:766px) {
                    width: 35%;
                }
            }

            // &.text4 {
            //     width: 50%;   // }
        }

        .imagev {
            width: 320px;
            height: auto;

            @media screen and (max-width:766px) {
                width: 260px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .logo {
            width: 320px;
            height: auto;

            margin: 0 auto;

            @media screen and (max-width:766px) {
                width: 50%;
                margin: 0 auto;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .images {
            position: absolute;
            inset: 0;
            width: 100%;
            height: auto;
            opacity: .2;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h3 {
            font-family: 'Kanit';
            text-shadow: 1px 1px #f7bb2e;
        }
    }

    &.livins {
        background: #002750;
        color: white;

        @media screen and (max-width:766px) {
            padding: 0px 0 32px;
        }

        .icons {
            width: 80px;
            height: auto;
            display: inline-block;
            vertical-align: middle;

            &.icons3 {
                width: auto;
                height: 100px;
            }

            &.icons4 {
                width: auto;
                height: 130px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .text {
            display: inline-block;
            width: 60%;
            vertical-align: middle;

            font-family: 'Nunito Sans';
            font-weight: 700;
            color: #dbc851;

            &.text3 {
                width: 57%;

                @media screen and (max-width:766px) {
                    width: 50%;
                }
            }
        }

        .imagev {
            width: 320px;
            height: auto;

            @media screen and (max-width:766px) {
                width: 260px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .imagem {
            display: none;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                background: linear-gradient(to top, #002750, rgba(#002750, .7), #002750);
            }

            @media screen and (max-width:766px) {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: auto;
                display: block;


                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        .logo {
            width: 200px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        h3 {
            color: #f7bb2e;
            font-family: 'Kanit';
        }

        .image {
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: auto;

            @media screen and (max-width:766px) {
                top: initial;
                height: 100%;
                opacity: .13;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;

                @media screen and (max-width:766px) {
                    object-fit: cover;
                }
            }
        }
    }

    .faq {
        position: relative;
        margin: 16px 0;
        padding: 0;

        i {
            float: right;
            color: white;
        }

        li {
            list-style-type: none;
            cursor: pointer;
            padding: 12px 16px;
            font-size: 1.4rem;
            margin-bottom: 8px;
            border-radius: 16px;
            // font-size: 14px;
            color: #f7bb2e;
            background: rgba($color: #244179, $alpha: .4);
            border-bottom: 1px solid rgba(white, .5);

            &:hover,
            &:focus,
            &:active {
                background: rgba($color: #244179, $alpha: .8);
                transition: .3s;
            }
        }

        .rotate {
            transform: rotate(-180deg);
            transition: .3s;
        }

        .answer {
            // background-color: ;
            padding: 16px;
            color: #ccc;
            font-size: 1rem;
            background: transparent;
            // background: rgba($color: #244179, $alpha: .2);
            border-bottom: 1px solid transparent;

            &:hover,
            &:focus,
            &:active {
                background: rgba($color: #244179, $alpha: 0);
                transition: .3s;
            }

            ul {
                background: transparent;
                // background: rgba($color: #244179, $alpha: .2);
                padding: 0;
                margin: 0;
                list-style-type: disc;
            }

            li {
                color: #ccc;
                background: transparent;
                font-size: 1rem;
                list-style: disc;
                padding: 4px 6px;
                border-bottom: 1px solid transparent;
            }
        }
    }
}

#myChart {
    height: 520px;
    position: relative;
    z-index: 11;

    @media screen and (max-width: 766px) {
        height: 300px;
    }
}

.quotes-all {
    // margin-top: 32px;
    display: block;
    position: relative;
    // padding: 32px 0;

    .gambar {
        width: 320px;
        height: auto;
        margin: 0 auto;
        // opacity: .6;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(#002750, .8), transparent);

            @media screen and (max-width:766px) {
                background: transparent;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }


    .imaged {
        position: absolute;
        top: 8px;
        left: 8px;
        width: 80px;
        height: 80px;
        opacity: .5;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .imaged1 {
        position: absolute;
        bottom: 8px;
        right: 8px;
        width: 80px;
        height: 80px;
        opacity: .5;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .quotes {


        // display: inline-block;
        // margin-left: 16px;
        // width: 60%;
        // border: 1px solid;
        background: rgba($color: #203d6d, $alpha: .8);

        blockquote {
            // background: rgba(#002750, .8);
        }

        vertical-align: top;
        font-family: 'Nunito Sans';
        font-size: 1.6rem;
        // font-size: 2rem;
        padding: 42px 16px 8px;
        color: #ddd;
        position: relative;
        z-index: 8;
        // border: 1px solid #f7bb2e;
        // box-shadow: 1px 2px 2px #f39200;
        // box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        // background: rgba(#002750, .8);
        // background: linear-gradient(45deg, #002750, rgba(#002750, .8));
        border-radius: 8px;
    }

    .gelar {
        display: inline-block;
        margin-left: 16px;
        width: 50%;

        .nama {
            // font-weight: bold;
        }

        .title {
            font-size: 1rem;
            color: #dbc851;

        }
    }

    .img {
        width: 150px;
        display: inline-block;
        height: 150px;
        border-radius: 50%;

        @media screen and (max-width:766px) {
            width: 80px;
            height: 80px;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.namaw {
    // font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Kanit';
}

.titlew {
    color: #f7bb2e;
}