.medi {
    background: $darkblue;
    position: relative;
    color: white;
    // &::after {
    //     content: "";
    //     position: absolute;
    //     width: 467px;
    //     height: 1233.79px;
    //     left: 0;
    //     z-index: 9;
    //     top: -50%;
    //     // background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
    //     filter: blur(100px);
    //     border-radius: 233.5px;
    //     transform: rotate(-54.37deg);
    //     background: linear-gradient(45deg, #002750, transparent);
    //     @media screen and (max-width: 766px) {
    //         background: transparent;
    //     }
    // }
    .angka {
        position: absolute;
        width: 100%;
        // display: none;
        inset: 0;
        height: 100%;
        opacity: .07;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 2;
            background: linear-gradient(to bottom, $darkblue, transparent, $darkblue);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.quotation {
    width: 520px;
    height: auto;
    margin: 32px auto 0;
    display: block;
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: 'DM Serif Display';
    // background: $darkblue;
    backdrop-filter: blur(8px);
    padding: 42px 32px;
    border-radius: 16px;
    border: 2px solid;
    position: relative;
    &__top {
        position: absolute;
        left: 24px;
        width: 70px;
        height: 70px;
        top: -32px;
        background: $darkblue;
        padding: 8px;
        z-index: 17;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__bottom {
        position: absolute;
        right: 24px;
        width: 70px;
        height: 70px;
        transform: rotate(180deg);
        bottom: -32px;
        background: $darkblue;
        padding: 8px;
        z-index: 17;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @media screen and (max-width:766px) {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
}

.bungkusan {
    // backdrop-filter: blur(4px);
    background: rgba($color: white, $alpha: .05);
    padding: 8px;
    // border: 1px solid;
    border-radius: 16px;
}

.rotate-right {
    transform: rotate(70deg);
}

.icont {
    width: 240px;
    cursor: pointer;
    display: inline-block;
    margin: 8px;
    padding: 16px;
    border-radius: 16px;
    transition: .3s;
    @media screen and (max-width: 766px) {
        padding: 0;
        width: 100%;
        display: block;
        margin: 16px 0;
    }
    &:hover {
        box-shadow: 0 0 0.5rem #2b70b7, inset 0 0 0.2rem #1a6ec4, 0 0 0.4rem #0b4884, 0 0 2rem #0d3763;
    }
    .img {
        width: 100px;
        height: 100px;
        margin: 0 auto;
        text-align: center;
        // margin-right: 8px;
        // border-radius: 70%;
        // background: rgba($color: #ccc, $alpha: .5);
        // backdrop-filter: blur(8px);
        // border: 1px solid #ddd;
        @media screen and (max-width: 766px) {
            display: inline-block;
            margin: initial;
            width: 80px;
            margin-right: 8px;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .cont {
        // font-weight: bold;
        margin: 0 auto;
        text-align: center;
        font-family: 'Aeonik Medium';
        @media screen and (max-width: 766px) {
            display: inline-block;
            margin: initial;
            text-align: left;
            width: 50%;
        }
        .ket {
            font-size: 1.5rem;
            color: $yellow;
        }
        .sed {
            font-family: 'Red Hat Display', sans-serif;
            font-size: 1rem;
        }
        // width: 60%;
        // border: 1px solid;
    }
}

.coba {
    position: relative;
    &::after {
        content: "";
        display: none;
        position: absolute;
        width: 20vw;
        height: 1233.79px;
        left: 0;
        z-index: 9;
        top: -50%;
        // background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
        filter: blur(100px);
        border-radius: 233.5px;
        transform: rotate(-54.37deg);
        background: linear-gradient(45deg, #002750, transparent);
        @media screen and (max-width: 766px) {
            background: transparent;
        }
    }
}