.medi {
    background: $darkblue;
    position: relative;
    color: white;
    .angka {
        position: absolute;
        width: 100%;
        inset: 0;
        height: 100%;
        opacity: .07;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to bottom, $darkblue, transparent, $darkblue);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.quotation {
    width: 520px;
    height: auto;
    margin: 32px auto 0;
    display: block;
    font-size: 2rem;
    line-height: 2.2rem;
    font-family: 'DM Serif Display';
    // background: $darkblue;
    backdrop-filter: blur(8px);
    padding: 42px 32px;
    border-radius: 16px;
    border: 2px solid;
    position: relative;
    &__top {
        position: absolute;
        left: 24px;
        width: 70px;
        height: 70px;
        top: -32px;
        background: $darkblue;
        padding: 8px;
        z-index: 17;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    &__bottom {
        position: absolute;
        right: 24px;
        width: 70px;
        height: 70px;
        bottom: -32px;
        background: $darkblue;
        padding: 8px;
        z-index: 17;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @media screen and (max-width:766px) {
        width: 100%;
        font-size: 1.5rem;
        line-height: 1.8rem;
        
    }
}