.pembukaan {
    background: #101823;
    color: white;
    // min-height: auto;
    position: relative;
    // padding: 72px 0 32px;
    z-index: 12;
    font-family: 'Red Hat Display', sans-serif;
    .hp {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 320px;
        height: auto;
        // opacity: ;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    .kertas {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: .07;
        @media screen and (max-width:766px) {
            opacity: .07;
        }
        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, $darkblue, transparent);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: 200px;
        height: 75vh;
        top: 10vh;
        background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
        filter: blur(100px);
        border-radius: 233.5px;
        transform: rotate(-54.37deg);
    
    }
    .imagez {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        opacity: .2;
        &::before {
            position: absolute;
            content: "";
            inset: 0;
            background: linear-gradient(to top, transparent, #002750);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }


}