.pembukaan {
    background: $white;
    color: white;
    // min-height: auto;
    position: relative;
    padding: 72px 0 32px;
    z-index: 12;
    color: #302b2b;
    font-family: 'Red Hat Display', sans-serif;
  
    .wrap-orang {
        // height: 50vh;
        display: none;
        @media screen and (max-width:766px) {
            display: block;
            height: auto;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100vw;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
        .orang1 {
            position: absolute;
            bottom: 0;
            left: 10vw;
            right: 0;
            width: 100px;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        .orang2 {
            position: absolute;
            bottom: 0;
            left: 40vw;
            right: 0;
            width: 80px;
            height: auto;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .awan {
        position: absolute;
        left: 10vw;
        top: 10vh;
        display: none;
        width: 120px;
        height: auto;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @media screen and (max-width: 766px) {
        padding: 80px 0 185px;
    }

    // .test {
    //     position: sticky;
    //     top: 20px;
    // }
    .anim-1 {
        position: absolute;
        left: 5vw;
        bottom: 35vh;
        width: auto;
        height: auto;

        @media screen and (max-width: 766px) {
            bottom: 5vh;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .anim-3 {
        position: absolute;
        left: 5vw;
        top: 5vh;
        width: auto;
        height: auto;

        @media screen and (max-width: 766px) {
            top: 0;
            left: 3vw;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .anim-5 {
        position: absolute;
        right: 5vw;
        top: 5vh;
        width: auto;
        height: auto;

        @media screen and (max-width: 766px) {
            top: 0;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .dots {
        position: absolute;
        right: 10vw;
        bottom: 15vh;
        width: 180px;
        opacity: 1;
        height: auto;

        @media screen and (max-width: 766px) {
            bottom: 10vh;
            width: 90px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .hp {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 320px;
        height: auto;

        // opacity: ;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .kertas {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        opacity: .8;

        @media screen and (max-width: 766px) {
            opacity: .2;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, #f8f8f8, transparent, #f8f8f8);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 200px;
    //     height: 75vh;
    //     top: 10vh;
    //     background: linear-gradient(180deg, rgba(84, 84, 212, 0.27) 0%, rgba(84, 84, 212, 0.1134) 100%);
    //     filter: blur(100px);
    //     border-radius: 233.5px;
    //     transform: rotate(-54.37deg);
    // }
    .imagez {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        top: 0;
        opacity: .2;

        &::before {
            position: absolute;
            content: "";
            inset: 0;
            background: linear-gradient(to top, transparent, #002750);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.font-bold {
    font-family: 'Aeonik Medium';
    font-weight: 700;
}

// .foto-wash {
//     position: absolute;
//     inset: 0;
//     width: 100%;
//     height: 100%;
//     &::before {
//         content: "";
//         position: absolute;
//         inset: 0;
//         background: linear-gradient(to top, #f8f8f8, rgba(#f8f8f8, .5), #f8f8f8);
//     }
//     img {
//         width: 100%;
//         height: 100%;
//         object-fit: cover;
//     }
// }