.penutup {
    // background: #0b4f95;
    background: #ebebeb;
    min-height: auto;
    position: relative;
    color: #333;
    padding: 72px 0;
    .bola {
        position: absolute;
        z-index: 1;
        &-pink {
            right: -44px;
            top: 30vh;
            width: 150px;
            border-radius: 50%;
            height: 150px;
            // background: #f7e3e8;
            background: #ffeeafbd;
        }
        &-hijau {
            left: -32px;
            top: 52px;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            background: #dcf8f496;
        }
    }
    .sumbs {
        // color: #e9a93a;
        font-size: 1rem;
        .f {
            font-size: 1rem;
            color: $mandiri;
            font-weight: 700;
        }
    }
    @media screen and (max-width: 766px) {
        padding: 16px 0 72px;
    }
    .img {
        position: absolute;
        inset: 0;
        opacity: .2;
        width: 100%;
        height: auto;
        &::before {
            content: "";
            inset: 0;
            position: absolute;
            background: linear-gradient(to top, #ebebeb, transparent, #ebebeb);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    hr {
        background-color: rgba($color: white, $alpha: .3);
    }
    .all {
        margin-bottom: 16px;
    }
    .gelar {
        font-size: 1rem;
        font-weight: initial;
    }
    .name {
        font-size: 1.2rem;
        font-weight: bold;
    }
    h3 {
        // font-family: 'Oxanium' !important;
        color: #e9a93a;
        font-family: 'Montserrat';
    }
    .cardz {
        // background: rgba($color: white, $alpha: .1);
        backdrop-filter: blur(8px);
        border-radius: 8px;
        padding: 16px;
        border: 2px solid white;
        color: white;
        position: relative;
        overflow: hidden;
        height: 180px;
        margin-bottom: 24px;
        .ceks {
            position: absolute;
            bottom: 16px;
            left: 16px;
            right: 16px;
            h4 {
                font-size: 1rem;
                font-family: 'Montserrat';
            }
            h4,
            h3 {
                margin: 0;
                font-family: 'Montserrat';
            }
        }
        .imgk {
            position: absolute;
            right: 16px;
            transform: rotate(90deg);
            top: 16px;
            width: 30px;
            height: 30px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &::before {
            content: "";
            position: absolute;
            left: -25%;
            top: -28%;
            height: 100%;
            bottom: 0;
            width: 90%;
            overflow: hidden;
            transform: rotate(-45deg);
            background: rgba(255, 255, 255, .15);
        }
    }
}

.baca-detikx {
    .bacajuga_box {
        display: initial !important;
        .container {
            display: none;
        }
    }
    .bacajuga {
        width: 100% !important;
        display: block;
        a {
            display: inline-block;
            padding: 0px;
            width: 47% !important;
            margin: 0 8px;
            position: relative;
            height: 320px;
            text-align: left;
            @media screen and (max-width:766px) {
                width: 100% !important;
                margin: 4px 0;
            }
            &:hover {
                text-decoration: none;
                color: orange !important;
            }
            article {
                position: absolute;
                top: initial;
                /* transform: translateY(-50%); */
                width: 100%;
                background: linear-gradient(to top, black, transparent);
                padding: 8px;
                bottom: 0;
                transform: initial;
                h2 {
                    font-family: 'Montserrat' !important;
                    font-size: 1.2rem;
                }
            }
        }
    }   
}